# Run files
.z3-trace
logfile
output/*
.collect_stats.json

# Results
stats/*
logs-*/*

# PyCharm files
.idea/*
src/__pycache__/*

# Seeds
chc-comp21-benchmarks/
spacer-benchmarks/
sv-benchmarks/
seed_info/*
