# Run files
.*-trace
.collect_stats.json
log*
output/*
stats/*
eldarica_output

# Results
logs*/*
run-data/*

# PyCharm files
.idea/*
src/__pycache__/*

# Seeds
chc-comp21-benchmarks/
spacer-benchmarks/
sv-benchmarks-clauses/
seed_info/*

# Other solvers
eldarica/

# Helpers
src/naive_reducer.py

